<p>This example illustrates lazy-loading partials of server-side data into tabbed content</p>
<div id="tabbed-content"
    hx-get="@Url.Action("Tabs", "ServerSideTabs")"
    hx-trigger="load"
    >
</div>

